.designCard {
  width: 21.7rem;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  cursor:pointer;
}

.designCard:hover {
  box-shadow: 0 2px 10px #a59aff45;
}

.designCardBody {
  padding:.5rem;
}